<h1>Ultimas leituras de temperatura</h1>

<p>
  Total exibido: <%= @temperature_readings.size %>
</p>

<table>
  <thead>
    <tr>
      <th>Horario</th>
      <th>Temperatura (C)</th>
      <th>Origem</th>
      <th>Porta</th>
    </tr>
  </thead>
  <tbody>
    <% @temperature_readings.each do |reading| %>
      <tr>
        <td><%= reading.recorded_at&.in_time_zone&.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= format("%.2f", reading.temperature_c) %></td>
        <td><%= reading.source %></td>
        <td><%= reading.serial_port.presence || "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
